<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

{%block nav%}
<div id="app" class="container">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="index.html">FOOSA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="add_flow.html">Add a Flow<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="delete_flow.html">Delete a Flow</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="network_topology.html">Network Topology</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="controller_management.html">Controller Setup</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}

{%block body %}

<div class="flex flex-col w-full pb-4 justify-center items-center justify-around">

    <div class="switch-setup-container w-1/2 bg-white border-4 border-white rounded-lg flex flex-col items-center justify-around"
        style="">

        <div class="flex flex-col w-10/12 rounded-lg bg-gray-300 items-center justify-around mb-4 mt-4" style="">

            <div id = "alert_placeholder_success"></div>

            <div class="flex flex-col justify-around w-4/5 rounded mt-4">

                <div class="flex flex-row rounded items-center justify-around p-2 form-group bg-white">
                    <div class="text-xl text-black pr-8">
                        Select Controller:
                    </div>
                    <select class="form-control" id="selected_controller" onchange="get_switch_list()">
                        {% for controller in controller_list %}
                            <option>{{controller[0]}}, {{controller[1]}}</option>
                         {% endfor %}
                    </select>
                </div>

                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-12">
                        Switch Name:
                    </div>
                    <select class="form-control" id="selected_switch">
                    </select>
                </div>
                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-2">
                        Flow Name:
                    </div>
                    <input type="text" class="form-control w-3/4" id="flow_name">
                </div>
                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-2">
                        Cookie:
                    </div>
                    <input type="text" class="form-control w-3/4" id="flow_cookie">
                </div>
                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-2">
                        In Port:
                    </div>
                    <input type="text" class="form-control w-3/4" id="flow_in_port">
                </div>
                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-2">
                        Out Port:
                    </div>
                    <input type="text" class="form-control w-3/4" id="flow_out_port">
                </div>
                <div class="flex flex-row rounded bg-white items-center justify-between p-2 form-group">
                    <div class="text-xl text-black pr-2">
                        Priority:
                    </div>
                    <input type="text" class="form-control w-3/4" id="flow_priority">
                </div>


            </div>

            <div class="flex w-3/4 item-center justify-start text-2xl text-black pt-4">
                API Status:
            </div>

            <div class="flex rounded bg-white w-4/5 h-32 mb-4 mt-4">
                <textarea name="" id="info_text_area" class="w-full rounded"></textarea>
            </div>

            
            <div class="pb-4 pt-4 w-full flex items-center justify-center">
                <button type="button" class="btn-lg btn-success w-3/4" id="add_flow">Add Flow</button>
            </div>
            

        </div>




    </div>

</div>

{% block scripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
// setup some JSON to use
var data = [
	{ "controller":"odl"}
];

window.onload = function() {
	// setup the button click
	document.getElementById("add_flow").onclick = function() {
		add_flow()
	};
}

// run functions on page load
document.addEventListener("DOMContentLoaded", function() {
  get_switch_list();
});


function get_switch_list() {
	// grab the data from the divs
    selected_controller = document.getElementById("selected_controller").value.split(",");
    // ajax POST request
    $.ajax({
        type: "POST",
        url: '/get_network_info',
        data: JSON.stringify({ ip : selected_controller[1], type: selected_controller[0] }),
        dataType: "html",
        contentType: "application/json",
        success: function(data) {
            //clear the list
            $("#selected_switch").empty();

            //convert the data into a JSON
            //console.log(data)
            data = JSON.parse(data)["switch_list"]

            // append each element to the selected_switch list
                for (i = 0; i < data.length; i++) {
                    $( "#selected_switch" ).append( "<option>" + data[i] + "</option>" );
                } 
            
        },
        error: function() {
            //window.location.reload(false); 
            alert('Error!')
        }
    });
	// stop link reloading the page
 event.preventDefault();
}

function add_flow() {
	// grab the data from the divs
    selected_controller = document.getElementById("selected_controller").value.split(",")[0];
    selected_switch = document.getElementById("selected_switch").value;
    flow_name = document.getElementById("flow_name").value;
    flow_priority = document.getElementById("flow_priority").value;
    flow_in_port = document.getElementById("flow_in_port").value;
    flow_out_port = document.getElementById("flow_out_port").value;
    flow_cookie = document.getElementById("flow_cookie").value;

    // console.log(selected_controller);
    // console.log(selected_switch);
    // console.log(flow_name);
    // console.log(flow_priority);
    // console.log(flow_in_port);
    // console.log(flow_out_port);
    // console.log(flow_cookie);

    // ajax POST request
    $.ajax({
        type: "POST",
        url: '/add_flow_rule',
        data: JSON.stringify({ controller : selected_controller, 
                               switch: selected_switch,
                               name: flow_name,
                               priority: flow_priority,
                               in_port: flow_in_port,
                               out_port: flow_out_port,
                               cookie: flow_cookie,

                            }),
        dataType: "html",
        contentType: "application/json",
        success: function(data) {
            document.getElementById("info_text_area").value = data  
        },
        error: function() {
            document.getElementById("info_text_area").value = data
        }
    });
	// stop link reloading the page
 event.preventDefault();
}

bootstrap_alert = function() {}
// alert for the success message
bootstrap_alert.add_success = function(message) {
            $('#alert_placeholder_success').html('<div class="alert alert-success id="bs_alert" alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>')
        }

// function to display the success message
function add_flow_success(message) {
            bootstrap_alert.add_success(message);
};






</script>


{% endblock %}


{% endblock %}